<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta property="qc:admins" content="15317273575564615446375"/>
    <meta property="og:image" content="https://cdn.segmentfault.com/v-5c78d357/global/img/touch-icon.png"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="alexaVerifyID" content="LkzCRJ7rPEUwt6fVey2vhxiw1vQ"/>
    <meta name="apple-itunes-app" content="app-id=958101793, app-argument=">
    <title>圈子 - 职业生涯 - SegmentFault 思否</title>
    <meta name="description" content="SegmentFault 思否 为开发者提供问答、学习与交流编程知识的平台，创造属于开发者的时代！"/>
    <meta name="keywords"
          content="SegmentFault,思否,javascript,php,python,java,mysql,ios,android,vue.js,node.js,html,css,ruby,git,docker,前端"/>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="SegmentFault"/>
    <link rel="shortcut icon" href="https://cdn.segmentfault.com/v-5c78d357/global/img/favicon.ico"/>
    <link rel="apple-touch-icon" href="https://cdn.segmentfault.com/v-5c78d357/global/img/touch-icon.png">
    <meta name="msapplication-TileColor" content="#009a61"/>
    <meta name="msapplication-square150x150logo"
          content="https://cdn.segmentfault.com/v-5c78d357/global/img/touch-icon.png"/>
    <meta name="baidu_union_verify" content="bcf7fd80dca60d53d46d5b46e1b990ca">
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新问题" href="/feeds/questions">
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新文章" href="/feeds/blogs">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/group.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <script type='text/javascript' th:src="@{/js/spcjs.js}"></script>
    <script type='text/javascript' th:src="@{/js/jquery-3.3.1.js}"></script>
</head>
<body data-mod="group" class="group-detail ">
<img id="icon4weChat" style="height: 0;width: 0;" th:src="@{/picture/touch-icon-512.png}">
<div id="gridMapHoverBox"
     style="position:absolute; border: 1px solid #009a61; z-index:99; font-size: 10px; background:#fff"></div>
<div class="global-nav sf-header sf-header--index">
    <div class="bottom-nav visible-xs visible-sm hidden">
        <div class="opts">
            <a class="opts-group " href="http://localhost:8080/yunforum/specials/query">
                <i aria-hidden="true" class="fa fa-home">
                </i>
                <span>
                                首页
                            </span>
            </a>
            <a class="opts-group " href="http://localhost:8080/yunforum/questions/questions">
                <i aria-hidden="true" class="fa fa-comments">
                </i>
                <span>
                                问答
                            </span>
            </a>
            <a class="opts-group " href="https://segmentfault.com/blogs">
                <i aria-hidden="true" class="fa fa-pencil-square">
                </i>
                <span>
                                专栏
                            </span>
            </a>
            <div class="opts-group">
                <div class="btn-group dropup">
                    <i aria-hidden="true" class="fa fa-bars dropdown hoverDropdown" data-toggle="dropdown">
                                    <span>
                                        更多
                                    </span>
                    </i>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://segmentfault.com/jobs">
                                职位
                            </a>
                        </li>
                        <li>
                            <a href="https://segmentfault.com/events">
                                活动
                            </a>
                        </li>
                        <li>
                            <a href="https://segmentfault.com/tags">
                                标签
                            </a>
                        </li>
                        <li>
                            <a href="https://segmentfault.com/badges">
                                徽章
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="container nav">
        <div class="visible-xs visible-sm header-response">
            <a href="https://segmentfault.com/search" style="display:block">
                <i aria-hidden="true" class="fa fa-search">
                </i>
            </a>
            <div class="sf-header__logo sf-header__logo--response">
                <h1>
                    <a href="https://segmentfault.com/" style="height:24px; background-size: auto 24px;">
                    </a>
                </h1>
            </div>
            <div class="opts">
                <li class="opts__item user dropdown hoverDropdown">
                    <a class="dropdownBtn user-avatar" data-toggle="dropdown" href="https://segmentfault.com/u/jianao" style="background-image: url('https://avatar-static.segmentfault.com/159/699/1596994257-5c943ea0b02e8_big64');">
                    </a>
                    <div class="dropdown-avatar-menu hidden">
                        <div class="menu-score">
                                        <span class="score pull-left ml20 mr10">
                                            0 声望
                                        </span>
                            <div class="">
                                            <span class="badge badge--o badge--sf badge--gold">
                                                <i class="badge__icon">
                                                </i>
                                            </span>
                                <span class="profile__sidebar--award-badge-count">
                                                0
                                            </span>
                                <span class="badge badge--o badge--sf badge--silver">
                                                <i class="badge__icon">
                                                </i>
                                            </span>
                                <span class="profile__sidebar--award-badge-count">
                                                0
                                            </span>
                                <span class="badge badge--o badge--sf badge--bronze">
                                                <i class="badge__icon">
                                                </i>
                                            </span>
                                <span class="profile__sidebar--award-badge-count">
                                                1
                                            </span>
                            </div>
                        </div>
                        <hr>
                        <div class="container-fluid">
                            <div class="menu-list row">
                                <div class="col-md-6 col-xs-6 pl0 pr0">
                                    <ul>
                                        <li class="message-response visible-xs">
                                            <a href="https://segmentfault.com/user/notifications" id="messageCount-response">
                                                通知提醒
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/u/jianao/notes">
                                                我的笔记
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/u/jianao/bookmarks">
                                                我的收藏
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/user/invited">
                                                受邀回答
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/experts">
                                                付费问答
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-xs-6 pl0 pr0">
                                    <ul>
                                        <li class="letter-response visible-xs">
                                            <a href="https://segmentfault.com/user/messages" id="letterCount-response">
                                                私信消息
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/u/jianao">
                                                我的主页
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/u/jianao/about">
                                                我的档案
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/user/finance">
                                                我的资产
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/user/settings">
                                                个人设置
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://segmentfault.com/api/user/logout?_=06e96beae137f919d04adeb1ba5fb5d4">
                                                退出
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="menu-footer">
                            <a class="js__action--complain" href="javascript:void(0);">
                                                    <span>
                                                        用户申诉
                                                    </span>
                            </a>
                            ·
                            <a href="https://segmentfault.com/g/1570000009280187">
                                                    <span>
                                                        建议反馈
                                                    </span>
                            </a>
                            ·
                            <a href="https://segmentfault.com/user/invitation">
                                                    <span>
                                                        邀请朋友
                                                    </span>
                            </a>
                        </div>
                        </hr>
                        </hr>
                    </div>
                </li>
                <li class="opts__item dropdown hoverDropdown write-btns mt0">
                    <a class="dropdownBtn" data-toggle="dropdown" href="https://segmentfault.com/ask">
                        <i aria-hidden="true" class="fa fa-plus" style="margin-top: 7px">
                        </i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right ">
                        <li>
                            <a href="https://segmentfault.com/ask">
                                提问题
                            </a>
                        </li>
                        <li>
                            <a href="https://segmentfault.com/write">
                                写文章
                            </a>
                        </li>
                        <li>
                            <a href="https://segmentfault.com/record">
                                记笔记
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>

        <div class="row hidden-xs hidden-sm">
            <div class="col-sm-8 col-md-9 col-lg-9">
                <div class="sf-header__logo">
                    <h1>
                        <a href="https://segmentfault.com/">
                            SegmentFault
                        </a>
                    </h1>
                </div>
                <div>
                    <ul class="menu list-inline pull-left hidden-xs">
                        <li class="menu__item">
                            <a class="" href="http://localhost:8080/yunforum/specials/query">
                                首页
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="" href="http://localhost:8080/yunforum/questions/questions">
                                问答
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="" href="https://segmentfault.com/blogs">
                                专栏
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="" href="http://localhost:8080/yunforum/circle/circle">
                                圈子
                            </a>
                        </li>
                        <li class="menu__item menu__item--more dropdown"  onmouseover="f()" onmouseout="ff()">
                            <a class="dropdown-toggle dropdownBtn" data-toggle="dropdown" href="https://segmentfault.com/u/minnanitkong/answers##">
                                <script>
                                    function f() {
                                        $("#aaa").prop('class','dropdown-block');
                                    } function ff() {
                                        $("#aaa").prop('class','dropdown-block hidden');
                                    }
                                </script>
                                发现
                                <span class="caret" style="font-size: 14px;margin-left: 5px;">
                                </span>
                            </a>
                            <div id="aaa" class="dropdown-block hidden">
                                <ul class="dropdown-content-menu">
                                    <li>
                                        <a href="https://segmentfault.com/events">
                                            活动
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://segmentfault.com/tags">
                                            标签
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://segmentfault.com/groups?tab=jobs">
                                            酷工作
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://segmentfault.com/users">
                                            排行榜
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://segmentfault.com/badges">
                                            徽章
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://segmentfault.com/notes">
                                            笔记
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://docs.segmentfault.com/" target="_blank">
                                            开发手册
                                            <i class="ml10 fa fa-external-link-square" style="line-height: 20px;font-size: 12px;color: #F5A623;">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://business.segmentfault.com/ads?utm_source=sf-header" target="_blank">
                                            广告投放
                                            <i class="ml10 fa fa-external-link-square" style="line-height: 20px;font-size: 12px;color: #F5A623;">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu__item visible-sm-inline-block">
                            <a href="https://segmentfault.com/search">
                                            <span class="glyphicon glyphicon-search" style="vertical-align: middle;">
                                            </span>
                            </a>
                        </li>
                    </ul>
                    <form action="https://segmentfault.com/search" class="header-search hidden-sm hidden-xs pull-right">
                        <button class="btn btn-link">
                                        <span class="sr-only">
                                            搜索
                                        </span>
                            <i class="layui-icon layui-icon-search" style="font-size: 15px;"></i>
                            </span>
                        </button>
                        <input class="form-control" id="searchBox" name="q" placeholder="搜索问题或关键字" type="text" value=""/>
                    </form>
                </div>
            </div>
            <!--登陆注册-->
            <div class="col-sm-4 col-md-3 col-lg-3 text-right" id="loginAndRegister" th:if="${session.LoginUser==null}">
                <ul class="opts list-inline hidden-xs">
                    <li class="opts__item"><a href="http://localhost:8080/yunforum/logins" style="margin-bottom:2px;">立即登录</a> <a class="SFLogin ml10 btn-signup" href="register" onclick="_gaq.push(['_trackEvent', 'Button', 'Click', 'Login']);">免费注册</a> </li>
                </ul>
            </div>


            <div class="col-sm-4 col-md-3 col-lg-3 text-right" id="LoginThan" th:if="${session.LoginUser!=null}">
                <ul class="opts list-inline hidden-xs">
                    <li class="opts__item dropdown hoverDropdown write-btns visible-lg-inline-block">
                        <div id="dsd" class="btn-group" >
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                创建
                                <span class="caret">
                                            </span>
                            </button>
                            <script>
                                $('body').on('click',function(e){
                                    var target = $(e.target);
                                    // 如果#overlay或者#btn下面还有子元素，可使用
                                    // !target.is('#btn *')
                                    if(target.is('#dsd *')){
                                        $('#dsd').prop("class","btn-group open")
                                    }else{
                                        $('#dsd').prop("class","btn-group")
                                    }
                                })
                            </script>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://segmentfault.com/ask">
                                        提问题
                                    </a>
                                </li>
                                <li>
                                    <a href="https://segmentfault.com/submit">
                                        发头条
                                    </a>
                                </li>
                                <li>
                                    <a href="https://segmentfault.com/write">
                                        写文章
                                    </a>
                                </li>
                                <li>
                                    <a href="https://segmentfault.com/record">
                                        记笔记
                                    </a>
                                </li>
                                <li class="divider" role="separator">
                                </li>
                                <li>
                                    <a href="https://segmentfault.com/user/draft">
                                        草稿箱
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="opts__item dropdown hoverDropdown write-btns visible-md-inline-block">
                        <a class="dropdownBtn" data-toggle="dropdown" href="https://segmentfault.com/ask">
                            <i aria-hidden="true" class="fa fa-plus">
                            </i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right ">
                            <li>
                                <a href="https://segmentfault.com/ask">
                                    提问题
                                </a>
                            </li>
                            <li>
                                <a href="https://segmentfault.com/submit">
                                    发头条
                                </a>
                            </li>
                            <li>
                                <a href="https://segmentfault.com/write">
                                    写文章
                                </a>
                            </li>
                            <li>
                                <a href="https://segmentfault.com/record">
                                    记笔记
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="https://segmentfault.com/user/draft">
                                    草稿箱
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="opts__item message has-unread hidden-sm ml10"  id="dLabel">
                        <a class="dropdown-toggle-message" href="javascript:void(0);">
                                        <span class="sr-only">
                                            消息
                                        </span>
                            <i class="layui-icon layui-icon-notice" style="font-size: 20px"></i>
                        </a>
                    </li>
                    <li class="opts__item letter has-unread hidden-sm">
                        <a class="dropdown-toggle-letter" href="../letter/query" id="lLabel">
                            <i class="layui-icon layui-icon-chat" style="font-size: 20px"></i>
                            <span class="has-unread__count">1</span>
                        </a>
                    </li>
                    <style>
                        @media (max-width: 1200px) {
                            .trialCenter-wrapper {
                                display: none !important;
                            }
                        }
                    </style>
                    <li class="opts__item user dropdown hoverDropdown ml0" id="aab">
                        <a class="avatar-* dropdownBtn user-avatar" data-toggle="dropdown" src="https://avatar-static.segmentfault.com/159/699/1596994257-5c943ea0b02e8_big64" th:style="'background-image: url('+${session.LoginUser==null?'https://avatar-static.segmentfault.com/159/699/1596994257-5c943ea0b02e8_big64':'http://localhost:8080/yunforum/image/'+session.LoginUser[0].head}+');'">
                        </a>
                        <script>
                            $('body').on('click',function(e){
                                var target = $(e.target);
                                // 如果#overlay或者#btn下面还有子元素，可使用
                                // !target.is('#btn *')
                                if(target.is('#aab *')){
                                    $('#dds').prop("class","dropdown-avatar-menu")
                                }else{
                                    $('#dds').prop("class","dropdown-avatar-menu hidden")
                                }
                            })
                        </script>
                        <div id="dds" class="dropdown-avatar-menu hidden">
                            <div class="menu-score">
                                            <span class="score pull-left ml20 mr10">
                                                0 声望
                                            </span>
                                <div class="">
                                                <span class="badge badge--o badge--sf badge--gold">
                                                    <i class="badge__icon">
                                                    </i>
                                                </span>
                                    <span class="profile__sidebar--award-badge-count">
                                                    0
                                                </span>
                                    <span class="badge badge--o badge--sf badge--silver">
                                                    <i class="badge__icon">
                                                    </i>
                                                </span>
                                    <span class="profile__sidebar--award-badge-count">
                                                    0
                                                </span>
                                    <span class="badge badge--o badge--sf badge--bronze">
                                                    <i class="badge__icon">
                                                    </i>
                                                </span>
                                    <span class="profile__sidebar--award-badge-count">
                                                    1
                                                </span>
                                </div>
                            </div>
                            <hr>
                            <div class="container-fluid">
                                <div class="menu-list row">
                                    <div class="col-md-6 col-xs-6 pl0 pr0">
                                        <ul>
                                            <li class="message-response visible-xs">
                                                <a href="https://segmentfault.com/user/notifications" id="messageCount-response">
                                                    通知提醒
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/u/jianao/notes">
                                                    我的笔记
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/u/jianao/bookmarks">
                                                    我的收藏
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/user/invited">
                                                    受邀回答
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/experts">
                                                    付费问答
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-xs-6 pl0 pr0">
                                        <ul>
                                            <li class="letter-response visible-xs">
                                                <a href="https://segmentfault.com/user/messages" id="letterCount-response">
                                                    私信消息
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/u/jianao">
                                                    我的主页
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/u/jianao/about">
                                                    我的档案
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/user/finance">
                                                    我的资产
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/user/settings">
                                                    个人设置
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://segmentfault.com/api/user/logout?_=06e96beae137f919d04adeb1ba5fb5d4">
                                                    退出
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="menu-footer">
                                <a class="js__action--complain" href="javascript:void(0);">
                                                        <span>
                                                            用户申诉
                                                        </span>
                                </a>
                                ·
                                <a href="https://segmentfault.com/g/1570000009280187">
                                                        <span>
                                                            建议反馈
                                                        </span>
                                </a>
                                ·
                                <a href="https://segmentfault.com/user/invitation">
                                                        <span>
                                                            邀请朋友
                                                        </span>
                                </a>
                            </div>
                            </hr>
                            </hr>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="detailData" class="group__warp mt30" data-groupid="1570000014908485" data-price="0" data-isjoin="">

    <div class="container">
        <br/>
        <ol class="breadcrumb ml15">
            <li><a href="../../circle/circle">圈子</a></li>
            <li class="active" th:text="@{${list.clablename}}"></li>
        </ol>
        <div class="col-md-9 col-xs-12">
            <div class="group__detail--wrapper">
                <a th:href="@{'../../circle/q/'+${list.clablename}}">
                    <img class="pull-left group__detail--cover" th:src="@{${list.cpic}}" style="border-radius:3px">
                </a>
                <a th:href="@{'../../circle/q/'+${list.clablename}}">
                    <h3 class="group__detail--title" th:text="@{${list.clablename}}"></h3>
                </a>
                <h3 class="group__detail--title ml0">
                    <button class="btn btn-success  group__detail--fee group__addgroup-btn SFLogin">关注圈子</button>
                </h3>
                <div class="group__detail--description">
                    <p th:text="@{${list.synopsis}}"></p>
                </div>
                <div th:each="nets:${lists}"></div>
                <div class="group__detail--footnote">
                    <span class="group__detail-creatdate" th:text="'创建于'+${#dates.format(list.foundtime, 'yyyy-MM-dd')}"></span>
                </div>
            </div>
            <div class="group__discuss mt30">
                <div class="group__discuss-heading"><h4>最近的帖子
                    <a href="javascript:mak();"id="makes" class="btn btn-xs btn-default discuss__post-btn" >+ 发新帖</a>
                </h4></div>
                <div class="group__discuss-content">
                    <div class="group__discuss-list">
                        <div class="group__discuss-item" th:each="nets:${cir}">
                            <a class="group__discuss-avatar" th:href="@{'/circle/personal/'+${nets['userid']}}" target="_blank">
                                <img  class="avatar-40" th:src="@{${nets['head']}}"></a>
                            <div class="group__discuss-box">
                                    <span class="group__discuss-title" style="max-width:500px">
                                        <a th:href="@{'/circle/show/'+${nets['circleid']}}" th:text="${nets['title']}"></a>
                                    </span>
                                <span class="group__discuss-author">
                                        <a th:href="@{'/circle/personal/'+${nets['userid']}}" th:text="${nets['username']}"></a>
                                            <span th:text="${#dates.format(nets['rtime'], 'MM月-dd日')}"></span>
                                            <span th:if="${nets['rname']}"> ·最后回复 </span>
                                            <a th:href="@{'/circle/personal/'+${nets['userid']}}" th:text="${nets['rname']}"></a>
                                    </span>
                                <div class="group__discuss-comment">
                                    <i class="fa fa-commenting mr5" aria-hidden="true"></i>
                                    <h4 th:text="${nets['rcount']}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt10">
                        <ul class="pagination">
                            <li th:each="aa:${a}" th:classappend="${aa.page}==${aa.ass}?'active':''">
                                <a th:text="${aa.ass}" th:href="@{'/circle/q/'+${list.clablename}+'?page='+${aa.ass}}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 hidden-xs">
            <div class="group__slide--card mb30"><h4 class="group__slide--title mt0">圈主</h4>
                <div class="group__slide--card-content">
                    <a th:href="@{'/circle/personal/'+${list['user_infos'].userid}}" target="_blank" style="dispaly:block">
                        <img th:src="${list['user_infos'].head}" class="img-circle member--avater" style="border-radius:50%">
                    </a>
                    <div class="member--info">
                        <span class="member--name">
                            <a th:href="@{'/circle/personal/'+${list['user_infos'].userid}}" target="_blank" th:text="${list['user_infos'].username}"></a>
                        </span>
                        <span class="member--desc" style="display:block" th:text="${list['user_infos'].signature}"></span>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px solid #eee;">
                <h4 class="group__slide--title mt20">
                    <a th:href="@{'/circle/attention/'+${list.clablename}}" th:text="${list.integer}"></a> 人关注
                </h4>
                <div class="group__slide--members mb30"></div>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <div class="row hidden-xs">
            <dl class="col-sm-2 site-link">
                <dt>产品</dt>

                <dd>
                    <a href="/questions/hottest?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=热门问答">热门问答</a>
                </dd>
                <dd>
                    <a href="/blogs/hottest?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=热门专栏">热门专栏</a>
                </dd>
                <dd>
                    <a href="/lives?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=热门讲堂">热门讲堂</a>
                </dd>
                <dd>
                    <a href="/events?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=最新活动">最新活动</a>
                </dd>
                <dd>
                    <a href="/groups?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=圈子">圈子</a>
                </dd>
                <dd>
                    <a href="/jobs?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=找工作">找工作</a>
                </dd>
                <dd>
                    <a href="/app?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=app">移动客户端</a>
                </dd>

            </dl>

            <dl class="col-sm-2 site-link">
                <dt>资源</dt>
                <dd>
                    <a href="/weekly?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-weekly&utm_term=每周精选">每周精选</a>
                </dd>
                <dd>
                    <a href="/users?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-users&utm_term=用户排行榜">用户排行榜</a>
                </dd>
                <dd>
                    <a href="/badges?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-badges&utm_term=徽章">徽章</a>
                </dd>
                <dd>
                    <a href="/faq?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-faq&utm_term=帮助中心">帮助中心</a>
                </dd>
                <dd>
                    <a href="/repu?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-repu&utm_term=声望与权限">声望与权限</a>
                </dd>
                <dd>
                    <a href="/community?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-community&utm_term=社区服务中心">社区服务中心</a>
                </dd>
                <dd>
                    <a href="https://docs.segmentfault.com?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-docs&utm_term=开发手册">开发手册</a>
                </dd>


            </dl>

            <dl class="col-sm-2 site-link">
                <dt>商务</dt>
                <dd>
                    <a href="https://business.segmentfault.com/services?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-services-rencai&utm_term=人才服务"
                       target="_blank">人才服务</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/services?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-services-qiyeneixun&utm_term=企业服务"
                       target="_blank">企业培训</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/services?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-services-huodongcehua&utm_term=活动策划"
                       target="_blank">活动策划</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/ads?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-ads&utm_term=广告投放"
                       target="_blank">广告投放</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/bc?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-bc&utm_term=区块链解决方案"
                       target="_blank">区块链解决方案</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/contact?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-contact&utm_term=合作联系"
                       target="_blank">合作联系</a></dd>
            </dl>

            <dl class="col-sm-2 site-link">
                <dt>关于</dt>
                <dd>
                    <a href="https://about.segmentfault.com/?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=about&utm_content=about-index&utm_term=关于我们">关于我们</a>
                </dd>
                <dd>
                    <a href="https://about.segmentfault.com/careers.html?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=about&utm_content=about-careers&utm_term=加入我们">加入我们</a>
                </dd>
                <dd>
                    <a href="https://about.segmentfault.com/contact.html?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=about&utm_content=about-contact&utm_term=联系我们">联系我们</a>
                </dd>
            </dl>

            <dl class="col-sm-2 site-link">
                <dt>关注</dt>
                <dd><a href="//segmentfault.com/blog/segmentfault" target="_blank">产品技术日志</a></dd>
                <dd><a href="//segmentfault.com/blog/community_admin" target="_blank">社区运营日志</a></dd>
                <dd><a href="//segmentfault.com/blog/segmentfault_news" target="_blank">市场运营日志</a></dd>
                <dd><a href="//segmentfault.com/blog/segmentfault_team" target="_blank">团队日志</a></dd>
                <dd><a href="//segmentfault.com/blog/interview" target="_blank">社区访谈</a></dd>
                <dd>
                    <ul class="sn-inline">
                        <li>
                            <a class="entypo-wechart icon-sn-weixin weixin-popover-qrcode" data-toggle="popover"
                               data-placement="top" data-content="">微信</a>
                        </li>
                        <li>
                            <a href="http://weibo.com/segmentfault" target="_blank" class="entypo-weibo icon-sn-weibo">新浪微博</a>
                        </li>
                        <li>
                            <a href="https://github.com/SegmentFault" target="_blank"
                               class="entypo-facebook icon-sn-github">Github</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/segment_fault" target="_blank"
                               class="entypo-twitter icon-sn-twitter">Twitter</a>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl class="col-sm-2 site-link" id="license">
                <dt>条款</dt>
                <dd><a href="/tos">服务条款</a></dd>
                <dd><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">内容许可</a></dd>
                <dd>
                    <a href="/app" class="clearfix mt10 block">
                        <img th:src="@{/picture/appqrcode.png}" class="app-qrcode">
                    </a>
                    <div class="app-download-desc">
                        <p>扫一扫下载 App</p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="copyright">
            Copyright &copy; 2011-2019 SegmentFault. 当前呈现版本 19.02.27<br>
            <a href="http://www.miibeian.gov.cn/" rel="nofollow">浙ICP备 15005796号-2</a> &nbsp;
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002000"
               rel="nofollow">浙公网安备 33010602002000号</a>
            <span class="ml5">杭州堆栈科技有限公司版权所有</span>
            <P class="mt30">CDN 存储服务由 <a target="_blank"
                                         href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a>
                赞助提供 </p>
        </div>
        <p class="text-center">
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="mobile" href="javascript:;">移动版</a>
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="desktop"
               href="javascript:;">桌面版</a>
        </p>
    </div>
</footer>
<div id="fixedTools" class="hidden-xs hidden-sm">
    <a id="backtop" class="hidden border-bottom" href="#">回顶部</a>
</div>
<script crossorigin th:src="@{/js/assets.js}"></script>
<script crossorigin th:src="@{/js/detail.min.js}"></script>
<script th:src="@{/js/ads.min.js}" type="text/javascript"></script>
</body>
</html>