<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta property="qc:admins" content="15317273575564615446375"/>
    <meta property="og:image" content="https://static.segmentfault.com/v-5c8b4d77/global/img/touch-icon.png"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="alexaVerifyID" content="LkzCRJ7rPEUwt6fVey2vhxiw1vQ"/>
    <meta name="apple-itunes-app" content="app-id=958101793, app-argument=">
    <title>职业生涯 - 一起来总结你的 2018 - 圈子 - SegmentFault 思否</title>
    <meta name="description" content="SegmentFault 思否 为开发者提供问答、学习与交流编程知识的平台，创造属于开发者的时代！"/>
    <meta name="keywords"
          content="SegmentFault,思否,javascript,php,python,java,mysql,ios,android,vue.js,node.js,html,css,ruby,git,docker,前端"/>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="SegmentFault"/>
    <link rel="apple-touch-icon" href="https://static.segmentfault.com/v-5c8b4d77/global/img/touch-icon.png">
    <meta name="msapplication-TileColor" content="#009a61"/>
    <meta name="msapplication-square150x150logo"
          content="https://static.segmentfault.com/v-5c8b4d77/global/img/touch-icon.png"/>
    <meta name="baidu_union_verify" content="bcf7fd80dca60d53d46d5b46e1b990ca">
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新问题" href="/feeds/questions">
    <link rel="alternate" type="application/atom+xml" title="SegmentFault 最新文章" href="/feeds/blogs">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/group.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <script type='text/javascript' th:src="@{/js/spcjs.js}"></script>
    <script th:src="@{/editormd/examples/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.preview.min.css}" />
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <!-- 因为我们使用了dark主题，所以在容器div上加上dark的主题类，实现我们自定义的代码样式 -->
    <script th:src="@{/editormd/lib/marked.min.js}"></script>
    <script th:src="@{/editormd/lib/prettify.min.js}"></script>
    <script th:src="@{/editormd/editormd.min.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script th:src="@{/lib/layui/layui.js}"></script>
</head>
<body data-mod="group" sclass="group-detail ">
<img id="icon4weChat" style="height: 0;width: 0;" data-src="static/picture/touch-icon-512.png">
<div id="gridMapHoverBox" style="position:absolute; border: 1px solid #009a61; z-index:99; font-size: 10px; background:#fff"></div>
<div class="global-nav sf-header sf-header--index">
    <div class="bottom-nav visible-xs visible-sm ">
        <div class="opts">
            <a class="opts-group " href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>首页</span>
            </a>
            <a class="opts-group " href="/questions">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span>问答</span>
            </a>
            <a class="opts-group " href="/blogs">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                <span>专栏</span>
            </a>
            <a class="opts-group " href="/lives">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
                <span>讲堂</span>
            </a>
            <div class="opts-group">
                <div class="btn-group dropup">
                    <i class="fa fa-bars dropdown hoverDropdown" data-toggle="dropdown" aria-hidden="true">
                        <span>更多</span>
                    </i>
                    <ul class="dropdown-menu">
                        <li><a href="/jobs">职位</a></li>
                        <li><a href="/events">活动</a></li>
                        <li><a href="/tags">标签</a></li>
                        <li><a href="/badges">徽章</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="container nav">
        <div class="visible-xs visible-sm header-response">
            <a href="/search" style="display:block">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <div class="sf-header__logo sf-header__logo--response">
                <h1><a href="/" style="height:24px; background-size: auto 24px;"></a></h1>
            </div>
            <a href="/user/login" class="pull-right login-btn">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
        </div>
        <script>
            mobileScroll(
                function (direction) {
                    try {
                        if (direction === 'down') {
                            document.querySelector('.bottom-nav').classList.add('hidden')
                        } else {
                            document.querySelector('.bottom-nav').classList.remove('hidden')
                        }
                    } catch (err) {
                    }
                }
            );

            function mobileScroll(fn) {
                var beforeScrollTop = document.documentElement.scrollTop || document.body.scrollTop,
                    fn = fn || function () {
                    };
                window.addEventListener("scroll", function () {
                    var afterScrollTop = document.documentElement.scrollTop || document.body.scrollTop,
                        delta = afterScrollTop - beforeScrollTop;
                    if (delta === 0) return false;
                    fn(delta > 0 ? "down" : "up");
                    beforeScrollTop = afterScrollTop;
                }, false);
            }
        </script>
        <div class="row hidden-xs hidden-sm">
            <div class="col-sm-8 col-md-9 col-lg-9">
                <div class="sf-header__logo"><h1><a href="/">SegmentFault</a></h1></div>
                <div>
                    <ul class="menu list-inline pull-left hidden-xs">
                        <li class="menu__item"><a href="/" class="">首页</a></li>
                        <li class="menu__item"><a href="/questions" class="">问答</a></li>
                        <li class="menu__item"><a href="/blogs" class="">专栏</a></li>
                        <li class="menu__item"><a href="/groups" class="active-nav">圈子</a></li>
                        <li class="menu__item menu__item--more dropdown">
                            <a href="##" class="dropdown-toggle dropdownBtn" data-toggle="dropdown">
                            发现<i class="fa fa-caret-down" style="font-size: 14px;margin-left: 5px;" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-block hidden">
                                <ul class="dropdown-content-menu">
                                    <li><a href="/events">活动</a></li>
                                    <li><a href="/tags">标签</a></li>
                                    <li><a href="/g/jobs">酷工作</a></li>
                                    <li><a href="/users">排行榜</a></li>
                                    <li><a href="/badges">徽章</a></li>
                                    <li><a href="/notes">笔记</a></li>
                                    <li>
                                        <a href="https://docs.segmentfault.com" target="_blank">开发手册
                                            <i style="line-height: 20px;font-size: 12px;color: #F5A623;" class="ml10 fa fa-external-link-square"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu__item visible-sm-inline-block">
                            <a href="/search">
                                <span class="glyphicon glyphicon-search" style="vertical-align: middle;"></span>
                            </a>
                        </li>
                    </ul>
                    <form action="/search" class="header-search  hidden-sm hidden-xs pull-right">
                        <button class="btn btn-link"><span class="sr-only">搜索</span>
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <input id="searchBox" name="q" type="text" placeholder="搜索问题或关键字" class="form-control" value=""/>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3 text-right">
                <ul class="opts list-inline hidden-xs">
                    <li class="opts__item">
                        <a href="/user/login" class="SFRegister btn-signin" style="margin-bottom:2px;">立即登录</a>
                        <a href="/user/register" class="SFLogin ml10 btn-signup" onClick="_gaq.push(['_trackEvent', 'Button', 'Click', 'Login']);">免费注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="group__discuss-detail container" id="discussionData" data-id='1570000014908485' data-groupprice="0" data-isjoin="" data-groupurl="/g/career">
    <ol class="breadcrumb">
        <li><a href="/groups">圈子</a></li>
        <li><a href="/g/career">职业生涯</a></li>
        <li class="active">讨论详情</li>
    </ol>
    <div class="row">
        <div class="col-md-9" th:each="nets:${list}">
            <div class="heading"><h3 class="heading__title" th:text="${nets['clablename']}"></h3></div>
            <div class="author">
                <img th:src="@{${nets['head']}}" class="avatar-24">
                <a href="/u/segmentfault" target="_blank">
                    <strong th:text="${nets['username']}"></strong>
                </a>
                <span th:text="${#dates.format(nets['ctime'], 'yyyy年MM月dd日')}"></span>
            </div>
            <div id="test-editormd" >
                <textarea></textarea>
            </div>
          <!--  <div class="content fmt" >
                <p>
                    <span class="img-wrap">
                    <img data-src="static/picture/64f13998d01d4a89841dcca7737ab6e1.gif"
                         src="https://static.segmentfault.com/v-5c8b4d77/global/img/squares.svg"
                         alt="回顾你2018年的编程之路" title="回顾你2018年的编程之路">
                    </span>
                </p>
                <p>马上 2018 年就要过去了<br>2018 年发生了很多很多的事情<br>SegmentFault 也已经六岁了<br>大家可以通过专栏文章<strong>添加标签“<a
                        href="https://segmentfault.com/t/2018%E6%80%BB%E7%BB%93">2018总结</a>”发布我的 2018 年的总结</strong><br>小编会把优质文章汇总并发出<br>小编忙完这几天也总结一下自己和
                    SegmentFault 的 2018</p>
                <p>文章发布后，也欢迎在此帖下面留言</p>
                <h3>2018 总结 - 推荐阅读</h3>
                <ul>
                    <li>CrazyCodes - 《<a href="https://segmentfault.com/a/1190000017492042">2018 | 我的年度总结请查收</a>》</li>
                    <li>皮小蛋 - 《<a href="https://segmentfault.com/a/1190000017523346">My 2018 - A year full of
                        changes</a>》
                    </li>
                    <li>jrainlau - 《<a href="https://segmentfault.com/a/1190000017498971">My excellent 2018</a>》</li>
                    <li>LNMPR源码研究 - 《<a href="https://segmentfault.com/a/1190000017476783">我们2018年的关键词-坚持学习</a>》</li>
                    <li>littleLyon - 《<a href="https://segmentfault.com/a/1190000017477483">2018 所思所感</a>》</li>
                    <li>BiaoChenXuYing -《<a href="https://segmentfault.com/a/1190000017441963">前端工程师的 2018 年总结</a>》</li>
                    <li>前端小智 - 《<a href="https://segmentfault.com/a/1190000017462675">2018 年前端开发回顾</a>》</li>
                    <li>fibos - 《<a href="https://segmentfault.com/a/1190000017472802">区块链行业 2018 年度盘点</a>》</li>
                </ul>
                <p>回顾：</p>
                <ul>
                    <li><a href="https://segmentfault.com/t/segmentfualt-welfare/blogs">2017 总结</a></li>
                    <li><a href="https://segmentfault.com/a/1190000007917925">2016 总结</a></li>
                </ul>
            </div>
           -->
            <!--
            这个注释里面的是
           <div class="form hide form&#45;&#45;discuss" action="/api/discussion/[id]/edit">
                <div class="form-group">
                    <input name="title" class="form-control" type="text" placeholder="标题"
                           value="一起来总结你的 2018 ">
                </div>
                <div class="form-group">
                    <div class="editor">
                            <textarea id="discussEditor" name="text" class="form-control" rows="4"
                                      placeholder="内容描述">![回顾你2018年的编程之路][1]

马上 2018 年就要过去了
2018 年发生了很多很多的事情
SegmentFault 也已经六岁了
大家可以通过专栏文章**添加标签“[2018总结][2]”发布我的 2018 年的总结**
小编会把优质文章汇总并发出
小编忙完这几天也总结一下自己和 SegmentFault 的 2018

文章发布后，也欢迎在此帖下面留言

### 2018 总结 - 推荐阅读

 - CrazyCodes - 《[2018 | 我的年度总结请查收][3]》
 - 皮小蛋 - 《[My 2018 - A year full of changes][4]》
 - jrainlau - 《[My excellent 2018][5]》
 - LNMPR源码研究 - 《[我们2018年的关键词-坚持学习][6]》
 - littleLyon - 《[2018 所思所感][7]》
 - BiaoChenXuYing -《[前端工程师的 2018 年总结][8]》
 - 前端小智 - 《[2018 年前端开发回顾][9]》
 - fibos - 《[区块链行业 2018 年度盘点][10]》

回顾：

 - [2017 总结][11]
 - [2016 总结][12]


  [1]: /img/bVblGba
  [2]: https://segmentfault.com/t/2018%E6%80%BB%E7%BB%93
  [3]: https://segmentfault.com/a/1190000017492042
  [4]: https://segmentfault.com/a/1190000017523346
  [5]: https://segmentfault.com/a/1190000017498971
  [6]: https://segmentfault.com/a/1190000017476783
  [7]: https://segmentfault.com/a/1190000017477483
  [8]: https://segmentfault.com/a/1190000017441963
  [9]: https://segmentfault.com/a/1190000017462675
  [10]: https://segmentfault.com/a/1190000017472802
  [11]: https://segmentfault.com/t/segmentfualt-welfare/blogs
  [12]: https://segmentfault.com/a/1190000007917925</textarea>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default discuss__cancel-btn">取消</button>
                    <button type="button" class="btn btn-primary ml10 discuss__submit-btn">发布</button>
                </div>
            </div>
-->
            <div class="function js__content-ops" data-id="1560000017473999" data-module="discussion"
                 data-typetext="帖子">
                <a href="javascript:void(0);" onclick="openModak()">举报</a>
            </div>
            <div class="comment--group">
                <div class="comments--news comments--default comments--discussion"
                     data-id="1560000017473999" data-user-id="" data-author-id="1030000000094051"
                     data-is-admin="null" id="goToReplyArea">
                    <div class="mb10 clearfix">
                        <strong class="comments-stat pull-left mr10">88 条评论</strong>
                       <!-- <div class="btn-group comments-sort">
                            <button type="button" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="comments-sort-text">默认排序</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:;" data-sort="default">默认排序</a></li>
                                <li><a href="javascript:;" data-sort="asc">时间排序</a></li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="comments-container">
                        <div class="comments-list">
                            <div class="comments-item" data-id="1050000017474870" th:each="nets:${review}">
                                <div class="pull-left">
                                    <a th:href="@{'/circle/personal/'+${nets['userid']}}" target="_blank">
                                        <img class="avatar-32 " th:src="@{${nets['head']}}" alt="">
                                    </a>
                                </div>
                                <div class="comments-content">
                                    <div class="comment-trigger">
                                        <div class="pull-right comment-option">
                                            <a href="#911" class="ml10" data-toggle="modal" data-target="#911"
                                               data-action="report" data-action-text="举报" data-module="comment"
                                               data-id="1050000017474870" data-typetext="评论" data-placement="top"
                                               title="举报"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        <strong>
                                            <a target="_blank" th:href="@{'/circle/personal/'+${nets['userid']}}"
                                               th:text="${nets['username']}"></a>
                                        </strong>
                                        <span class="comments-isAuthor hide"></span>
                                        <span class="comments-date"
                                              th:text="'  ·   '+${#dates.format(nets['time'], 'yyyy年MM月dd日')}">
                                        </span>
                                    </div>
                                    <div class="fmt mb10"><p th:text="${nets['count']}"></p></div>
                                  <!--  <form action="/api/comment/1050000017474870/edit">
                                        <div class="form-group">
                                            <textarea class="editTextarea mono form-control mb10 hidden" rows="1"
                                                      name="text"
                                                      style="height: 28px; overflow: hidden; word-wrap: break-word;">2018 感觉时间过的好快啊  :)</textarea>
                                        </div>
                                    </form>-->
                                    <p class="comment-ops not-reply">
                                        <span class="comments-zan ">
                                            <i class="fa fa-thumbs-up mr4" aria-hidden="true"></i>
                                            <span class="comments-zan-text">赞</span>
                                            <span class="comments-zan-value">+11</span>
                                        </span>
                                        <span class="ml15 comments-reply-btn">回复</span>
                                        <span class="pull-right editBtns hidden">
                                          <button class="btn btn-link btn-xs cancel" type="button">取消</button>
                                          <button class="btn btn-primary btn-xs edit ml10" type="button">保存</button>
                                        </span>
                                    </p>
                                    <!--回复表-->
                                    <div class="reply-list">
                                        <div class="reply-item" data-id="1050000017553480" th:each="re:${replie}"  th:if="${re['to_username']} eq ${nets['username']}">
                                            <!--点赞数量的统计通过评论者id或者评论内容来对数据进行一个判断是否是当前的评论和回复，如果是则显示没有则不显示-->
                                            <span class="pull-left comment-ops " style="position:absolute;">
                                                <span class="mr20 comments-zan ">
                                                    <span class="comments-zan-value comment-showhideislike0-10">0</span>
                                                    <i class="fa fa-thumbs-up comment-showhide ml5" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                            <div class="reply-content-block">
                                                <div class="reply-content"><p th:text="${re['content']}"></p></div>
                                                <form action="/api/comment/1050000017553480/edit">
                                                    <div class="form-group">
                                                        <textarea class="editTextarea mono form-control mb10 hidden"
                                                            rows="1" name="text"style="height: 28px;
                                                            overflow: hidden; word-wrap: break-word;">
                                                            恭喜吧，祝心想事成吧
                                                        </textarea>
                                                    </div>
                                                </form>
                                                <div class="comment-func inline-block">
                                                <span class="pull-right commentTools ml15">
                                                    <a href="#911" class="ml10" data-toggle="modal"
                                                       data-target="#911" data-module="comment"
                                                       data-id="1050000017783741"data-action='report'data-typetext="评论"
                                                       data-placement="top"title="举报">
                                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                                    </a>
                                                </span>
                                                <span class="comment-meta inline-block">
                                                    <span> — </span>
                                                    <a target="_blank" href="/u/2006">
                                                        <strong th:text="${re['from_username']}"></strong>
                                                    </a>
                                                    <span class="comments-isAuthor hide"></span>
                                                    <span class="text-muted-plus" th:text="'  ·   '+${#dates.format(re['recoverytime'], 'yyyy年MM月dd日')}"></span>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                      <!--  <div class="reply-item" data-id="1050000017783741">
                                            <span class="pull-left comment-ops " style="position:absolute;">
                                                <span class="mr20 comments-zan ">
                                                    <span class="comments-zan-value comment-showhideislike0-10">0</span>
                                                    <i class="fa fa-thumbs-up comment-showhide ml5" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                            <div class="reply-content-block">
                                                <div class="reply-content"><p>一起加油！</p></div>
                                                <form action="/api/comment/1050000017783741/edit">
                                                    <div class="form-group">
                                                        <textarea class="editTextarea mono form-control mb10 hidden"
                                                                  rows="1" name="text"
                                                                  style="height: 28px; overflow: hidden; word-wrap: break-word;">一起加油！</textarea>
                                                    </div>
                                                </form>
                                                <div class="comment-func inline-block">
                                                    <span class="pull-right commentTools ml15">
                                                        <a href="#911" class="ml10" data-toggle="modal"
                                                           data-target="#911" data-module="comment"
                                                           data-id="1050000017783741"data-action='report'data-typetext="评论"
                                                           data-placement="top"title="举报">
                                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                                        </a>
                                                    </span>
                                                    <span class="comment-meta inline-block">
                                                    <span> — </span>
                                                    <a target="_blank" href="/u/edagarli"><strong>edagarli</strong></a>
                                                    <span class="comments-isAuthor hide"></span>
                                                    <span class="text-muted-plus">  ·  1月6日</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-item" data-id="1050000017915077">
                            <span class="pull-left comment-ops " style="position:absolute;">
                                <span class="mr20 comments-zan ">
                                    <span class="comments-zan-value comment-showhide
                                         islike0-10
                                        ">
                                        0
                                    </span>
                                    <i class="fa fa-thumbs-up comment-showhide ml5" aria-hidden="true"></i>
                                </span>
                            </span>

                                            <div class="reply-content-block">
                                                <div class="reply-content"><p>2018 虽然学到了很多东西！但遗憾的是钱变少了~</p></div>
                                                <form action="/api/comment/1050000017915077/edit">
                                                    <div class="form-group">
                                                        <textarea class="editTextarea mono form-control mb10 hidden"
                                                                  rows="1" name="text"
                                                                  style="height: 28px; overflow: hidden; word-wrap: break-word;">2018 虽然学到了很多东西！但遗憾的是钱变少了~</textarea>
                                                    </div>
                                                </form>
                                                <div class="comment-func inline-block">
                                    

                                    <span class="pull-right commentTools ml15">
                                                                                                                                                                <a href="#911"
                                                                                                                                                                   class="ml10"
                                                                                                                                                                   data-toggle="modal"
                                                                                                                                                                   data-target="#911"
                                                                                                                                                                   data-module="comment"
                                                                                                                                                                   data-id="1050000017915077"
                                                                                                                                                                   data-action='report'
                                                                                                                                                                   data-typetext="评论"
                                                                                                                                                                   data-placement="top"
                                                                                                                                                                   title="举报">
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                        </a>
                                    </span>

                                                    <span class="comment-meta inline-block">
                                        <span> — </span>
                                        <a target="_blank" href="/u/diary">
                                            <strong>灰色v碰触</strong>
                                        </a> 
                                        <span class="comments-isAuthor hide">
                                            
                                        </span> 
                                        <span class="text-muted-plus">  ·  1月16日</span>
                                                                            </span>
                                                </div>
                                            </div>
                                        </div>
-->
                                        <div class="reply-item reply-item--ops" data-obj="obj">
                                            <a class="reply-inner-btn" href="javascript:;">添加回复</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                        <!--
                            <div class="comments-loading hide">载入中...</div>
                            <div class="comments-more "><a href="javascript:;">显示更多评论</a></div>
                         -->
                        <div class="comments-box" id="goToReplyEditor">
                            <div class="pull-left">
                                <img class="avatar-32 "
                                     src="static/picture/user-128.png"
                                     alt=""/>
                            </div>
                            <div class="comments-box-content">
                                <form action="/api/discussion/1560000017473999/comments/add">
                                    <div class="form-group mb0">
                                        <textarea name="text" rows="3" class="form-control"
                                                  placeholder="文明社会，理性评论"></textarea>
                                        <div class="mt15 text-right">
                                            <button type="button" class="hide"></button>
                                            <button class=" btn btn-primary" type="button">发布评论</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="side">
                <div class="related-discuss ">
                    <h4 class="related-discuss__heading">最新帖子<span class="related-discuss__heading-more"></span></h4>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000018409028">第三方贷款公司，正规吗</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000018204716">找工作遇见培训机构</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000017299173">PHP进入了瓶颈期</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000016816406">分享个我自己维护的求职方面的项目</a></div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000016166749">程序员小胖子的心路历程之心得篇（不得不看的那些事）</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000015974641">最近在找工作，什么A轮融资、B轮融资到底对职业前途有没有影响啊</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000015931581">【小程序项目】做过游戏小程序的大佬请看过来~~</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000015917867">Java大佬们平时都逛什么网站，看哪些书啊</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000015831756">Java开发能力强和英文沟通流利，这两者冲突吗？为什么不能并存</a>
                    </div>
                    <div class="related-discuss__item"><a href="/g/1570000014908485/d/1560000015737356">有没有在找工作的PHP、Java、算法、web等等，地点在北京上地</a>
                    </div>
                </div>
            </div>
            <!--<h4 class="related-discuss__heading mt30" style="font-size:14px; color: #333;">分享扩散</h4>
            <div class="group__intro-share hidden-xs" data-title="职业生涯" data-author="joyqi"
                 data-discussiontitle="一起来总结你的 2018 ">
                <div class="widget-share__full" data-text=""
                     data-url="https://segmentfault.com/g/career" data-shorturl="http://sfau.lt/cHbaIxB"></div>
            </div>-->
        </div>
    </div>
</div>
<!--防盗链也很简单了,js里判断来路url如果不是本站不显示图片
<script type="text/javascript">
    window.refererUrl = '/g/1570000014908485/d/1560000017473999';
</script>-->

<div class="modal widget-911" id="911" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><span data-model="action">举报</span><span data-model="type">帖子</span></h4>
            </div>
            <div class="modal-body">
                <form id="reportForm">
                    <!-- 后台返回信息 -->
                    <p class="alert alert-warning" data-model="returnMsg"></p>
                    <div data-role="base">
                        <p>
                            <strong class="required">我要<span data-model="action"></span>该<span data-model="type"></span>，理由是：</strong>
                        </p>
                        <ul class="list-unstyled" data-model="list"></ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default pull-left" type="button" data-role="back" style="display:none">返回重选
                </button>
                <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
                <button class="btn btn-primary" data-role="submit" type="button">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<footer id="footer">
    <div class="container">
        <div class="row hidden-xs">
            <dl class="col-sm-2 site-link">
                <dt>产品</dt>

                <dd>
                    <a href="/questions/hottest?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=热门问答">热门问答</a>
                </dd>
                <dd>
                    <a href="/blogs/hottest?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=热门专栏">热门专栏</a>
                </dd>
                <dd>
                    <a href="/lives?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=热门讲堂">热门讲堂</a>
                </dd>
                <dd>
                    <a href="/events?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=最新活动">最新活动</a>
                </dd>
                <dd>
                    <a href="/groups?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=圈子">圈子</a>
                </dd>
                <dd>
                    <a href="/g/jobs?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=找工作">酷工作</a>
                </dd>
                <dd>
                    <a href="/app?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=product&utm_content=footer-links-hottest-questions&utm_term=app">移动客户端</a>
                </dd>

            </dl>

            <dl class="col-sm-2 site-link">
                <dt>资源</dt>
                <dd>
                    <a href="/weekly?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-weekly&utm_term=每周精选">每周精选</a>
                </dd>
                <dd>
                    <a href="/users?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-users&utm_term=用户排行榜">用户排行榜</a>
                </dd>
                <dd>
                    <a href="/badges?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-badges&utm_term=徽章">徽章</a>
                </dd>
                <dd>
                    <a href="/faq?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-faq&utm_term=帮助中心">帮助中心</a>
                </dd>
                <dd>
                    <a href="/repu?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-repu&utm_term=声望与权限">声望与权限</a>
                </dd>
                <dd>
                    <a href="/community?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-community&utm_term=社区服务中心">社区服务中心</a>
                </dd>
                <dd>
                    <a href="https://docs.segmentfault.com?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=resource&utm_content=footer-links-docs&utm_term=开发手册">开发手册</a>
                </dd>


            </dl>

            <dl class="col-sm-2 site-link">
                <dt>商务</dt>
                <dd>
                    <a href="https://business.segmentfault.com/services?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-services-rencai&utm_term=人才服务"
                       target="_blank">人才服务</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/services?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-services-qiyeneixun&utm_term=企业服务"
                       target="_blank">企业培训</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/services?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-services-huodongcehua&utm_term=活动策划"
                       target="_blank">活动策划</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/ads?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-ads&utm_term=广告投放"
                       target="_blank">广告投放</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/bc?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-bc&utm_term=区块链解决方案"
                       target="_blank">区块链解决方案</a></dd>
                <dd>
                    <a href="https://business.segmentfault.com/contact?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=business&utm_content=footer-links-contact&utm_term=合作联系"
                       target="_blank">合作联系</a></dd>
            </dl>

            <dl class="col-sm-2 site-link">
                <dt>关于</dt>
                <dd>
                    <a href="https://about.segmentfault.com/?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=about&utm_content=about-index&utm_term=关于我们">关于我们</a>
                </dd>
                <dd>
                    <a href="https://about.segmentfault.com/careers.html?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=about&utm_content=about-careers&utm_term=加入我们">加入我们</a>
                </dd>
                <dd>
                    <a href="https://about.segmentfault.com/contact.html?utm_source=sf-footer&utm_medium=footer-nav&utm_campaign=about&utm_content=about-contact&utm_term=联系我们">联系我们</a>
                </dd>
            </dl>

            <dl class="col-sm-2 site-link">
                <dt>关注</dt>
                <dd><a href="//segmentfault.com/blog/segmentfault" target="_blank">产品技术日志</a></dd>
                <dd><a href="//segmentfault.com/blog/community_admin" target="_blank">社区运营日志</a></dd>
                <dd><a href="//segmentfault.com/blog/segmentfault_news" target="_blank">市场运营日志</a></dd>
                <dd><a href="//segmentfault.com/blog/segmentfault_team" target="_blank">团队日志</a></dd>
                <dd><a href="//segmentfault.com/blog/interview" target="_blank">社区访谈</a></dd>
                <dd>
                    <ul class="sn-inline">
                        <li>
                            <a class="entypo-wechart icon-sn-weixin weixin-popover-qrcode" data-toggle="popover"
                               data-placement="top" data-content="">微信</a>
                        </li>
                        <li>
                            <a href="http://weibo.com/segmentfault" target="_blank" class="entypo-weibo icon-sn-weibo">新浪微博</a>
                        </li>
                        <li>
                            <a href="https://github.com/SegmentFault" target="_blank"
                               class="entypo-facebook icon-sn-github">Github</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/segment_fault" target="_blank"
                               class="entypo-twitter icon-sn-twitter">Twitter</a>
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl class="col-sm-2 site-link" id="license">
                <dt>条款</dt>
                <dd><a href="/tos">服务条款</a></dd>
                <dd><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">内容许可</a></dd>
                <dd>
                    <a href="/app" class="clearfix mt10 block"><img src="static/picture/appqrcode.png"
                                                                    class="app-qrcode"></a>
                    <div class="app-download-desc">
                        <p>扫一扫下载 App</p>
                    </div>

                </dd>
            </dl>
        </div>
        <div class="copyright">
            Copyright &copy; 2011-2019 SegmentFault. 当前呈现版本 19.02.27<br>
            <a href="http://www.miibeian.gov.cn/" rel="nofollow">浙ICP备 15005796号-2</a> &nbsp;
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002000"
               rel="nofollow">浙公网安备 33010602002000号</a>
            <span class="ml5">杭州堆栈科技有限公司版权所有</span>
            <P class="mt30">CDN 存储服务由 <a target="_blank"
                                         href="https://www.upyun.com/?utm_source=segmentfault&utm_medium=link&utm_campaign=upyun&md=segmentfault">又拍云</a>
                赞助提供 </p>
        </div>
        <p class="text-center">
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="mobile" href="javascript:;">移动版</a>
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="desktop"
               href="javascript:;">桌面版</a>
        </p>
    </div>
</footer>
<div id="fixedTools" class="hidden-xs hidden-sm">
    <a id="backtop" class="hidden border-bottom" href="#">回顶部</a>
</div>
<!--当前时间戳
<script>
    window.serverTime = 1552895047000;
</script>-->
<script crossorigin th:src="@{/js/assets.js}"></script>
<script th:src="@{/js/ads.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    testEditor = editormd.markdownToHTML("test-editormd", {
        markdown:[[${aaa}]],
        htmlDecode      : "style,script,iframe",  // you can filter tags decode
        emoji           : true,
        taskList        : true,
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true,  // 默认不解析
    });
</script>
<script type="text/javascript">
    function openModak(){
        /*$(".modal-content").css('display','none');*/
        $("#911").css('display','block');
        $("#911").css('visibility','visible');
    }
</script>
</body>
</html>
